#amimg {
  position: relative;
  top: 6px;
  width: 3.2rem;
}

body {
  background-image: url("../ASSETS/background.png");
  background-size: cover;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0%;
  padding: 0%;
  /* overflow: hidden; */
}
.card-container {
  display: flex;
  height: 250px;
  padding: 0em 2em 2em 2em;
  width: 95%;
  gap: 5%;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 0 auto;
}
.card {
  background-color: rgb(37, 37, 37);
  border: 1px solid black;
  box-shadow: 2px 2px 2px 0px;
  color: white;
  display: flex;
  flex-direction: column;
  height: 240px;
  min-width: 15.5rem;
  padding-left: 1%;
  width: 20%;
  z-index: 1;
}
.card:hover {
  transform: scale(1.2);
}
.card-img {
  background-image: url("../ASSETS/london.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 50%;
}
.card > p {
  margin: 2%;
  margin-left: 0;
}
.city-info {
  display: flex;
  flex-direction: column;
}
.city-info-flex-1 {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
}
.city-info-flex-2 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.city-name {
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 0;
}
#cloud-img {
  width: 3em;
  height: 2.5em;
}
.date-style {
  color: white;
  font-size: 1.2rem;
  padding: 0%;
  margin: 0%;
}
.card-date {
  font-size: 0.9em;
}
.display-count {
  background-color: grey;
  vertical-align: top;
  width: 15%;
}

.flex-ratio {
  display: flex;
  justify-content: space-between;
  min-width: 680px;
  overflow-x: auto;
  width: 100%;
}
#icon {
  height: 70px;
  width: 70px;
}
.line {
  background-color: white;
  border: 1px solid white;
  color: white;
  height: 3.3em;
  margin-bottom: 1.3em;
  width: 2%;
}
.line-styling {
  margin-top: 1.4rem;
}
.middle-container {
  background-color: black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: white;
  height: 350px;
  background-size: cover;
  overflow: hidden;
}
.place-flex-1 {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}
.rainy-temp {
  font-size: 0.8em;
}
select {
  background-color: rgb(80, 77, 77);
  color: white;
  font-size: 0.8rem;
  margin-left: 20px;
  padding: 9px;
  text-align: center;
  width: 10em;
}
#side-text {
  font-size: 1.2em;
  vertical-align: top;
}
.temp-info {
  align-items: center;
  color: white;
  display: flex;
  flex-basis: 35%;
  font-size: 1.2rem;
  justify-content: space-evenly;
}
#temp-text {
  font-weight: bold;
  font-size: 1.2em;
}
.temp-style {
  vertical-align: super;
  font-weight: bold;
}
.temp-cardstyle {
  margin-top: 13px;
}
#time-based-line {
  color: white;
  font-size: 0.7em;
  height: 82px;
}
.time-color {
  color: yellow;
  font-size: 1.2rem;
  margin: 0%;
  padding: 0%;
}
.time-wise-info {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: inherit;
}
.time-wise-info-flex {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 0.7em;
}
.top-heading {
  height: 15%;
}
.top-container {
  align-items: center;
  display: flex;
  height: 240px;
  width: 100%;
}
.top-content {
  font-size: 1.3em;
  display: inline;
  position: relative;
  left: 35%;
  top: 21%;
}
.top-icon-style {
  align-items: center;
  column-gap: 10px;
  float: right;
  position: sticky;
}
.top-icon {
  height: 2em;
  width: 2em;
}
.top-icon:hover {
  border-bottom: 2px solid skyblue;
}

@media all and (max-width: 1100px) {
  .temp-info {
    font-size: 1rem;
  }
  #temp-text {
    font-size: 1.2rem;
  }
  .top-container {
    height: 200px;
  }
}
@media all and (max-width: 900px) {
  #amimg {
    width: 2.2rem;
  }
  .date-style {
    font-size: 1rem;
  }
  #icon {
    height: 60px;
    width: 60px;
  }
  select {
    font-size: 0.6rem;
    height: 4em;
    width: 10em;
    width: 11em;
  }
  .temp-info {
    font-size: 0.9rem;
  }
  #temp-text {
    font-size: 1rem;
  }
  .time-color {
    font-size: 1rem;
  }
  .time-wise-info {
    font-size: 0.8em;
  }
  #time-based-line {
    color: white;
    font-size: 0.7em;
    height: 64px;
  }
  .top-container {
    height: 170px;
  }
}
@media all and (max-width: 770px) {
  #amimg {
    width: 2rem;
  }
  .date-style {
    font-size: 0.9rem;
  }
  #icon {
    height: 50px;
    width: 50px;
  }
  select {
    font-size: 0.56rem;
  }
  .temp-info {
    font-size: 0.8rem;
  }
  #temp-text {
    font-size: 0.9rem;
  }
  #time-based-line {
    color: white;
    font-size: 0.7em;
    height: 68px;
  }
  .time-color {
    font-size: 0.9rem;
  }
}
@media all and (max-width: 680px) {
  .top-container {
    overflow-x: auto;
  }
  .top-container::-webkit-scrollbar {
    display: none;
  }
}

/* middle section */
@media all and (max-width: 1000px) {
  #side-text {
    font-size: 1em;
  }
  .top-icon {
    height: 1.7em;
    width: 1.7em;
  }
  .top-content {
    font-size: 1.2em;
    left: 20%;
  }
}
@media all and (max-width: 800px) {
  .top-content {
    font-size: 1.1em;
    left: 15%;
    right: 15%;
  }
}
