
body{
    margin:0%;
    padding:0%;
    background-image: url('../ASSETS/background.png');
    background-size: cover;
    box-sizing: border-box;
}
.top-container
{
    display:flex;
    height:240px;
    width: 100%;
    align-items:center;
}
.flex-ratio
{
    display:flex;
    width: 100%;
}
.city-info
{
flex:1;
display: flex;
flex-direction: column;
}
.temp-info
{
    flex:1;
    display: flex;
    color: white;
    font-size: 1.2rem;
    justify-content: space-around;
}
.time-wise-info
{
    flex:3;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#icon
{
    width:70px;
    height:70px;
}
select{
    height: 4em;
    width: 10em;
    background-color: gray;
    color: white;
    text-align: center;
    font-size: 0.8rem;
}
#amimg
{
    width:3.2rem;
}
#temp-color
{
    color: grey;
}
#temp-text
{
    font-weight: bold;
    font-size: 1.3rem;
}
.time-color
{
    color: yellow;
    font-size:1.2rem;
    margin: 0%;
    padding: 0%;
}
.date-style
{
    color: white;
    font-size: 1.2rem;
    margin: 0%;
    padding: 0%;
}
.city-info-flex-1
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.city-info-flex-2
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.line-styling
{
    margin-top:1.5rem;
}
.line
{
    height:3.2em;
    width:2%;
    color:white;
    border:1px solid white;
    background-color: white;
    margin-bottom: 1em;
}
.time-wise-info-align
{
   display: flex;
   flex-direction: column;
   align-items: center;
   color: white;
   font-size: 0.7em;
}
#time-based-line 
{
    font-size: 0.7em;
    color: white;
    margin-bottom: 5%;
}
#cloud-img
{
    width: 2.5em;
    height: 2.5em;
}
@media all and (max-width:1100px)
{
    .top-container
    {
        height:200px;
    }
    .temp-info
    {
        font-size: 1rem;
    }
    #temp-text
   {
    font-size: 1.2rem;
   }
}
@media all and (max-width:850px)
{

    .top-container
    {
        height:170px;
    }
    #icon
    {
        width:60px;
        height:60px;
    }
    #amimg
    {
     width:2.2rem;
    }
    .temp-info
    {
        font-size: 0.9rem;
    }
    #temp-text
   {
    font-size: 1rem;
   }
    .time-color
   {
    font-size:1rem;
    }
   .date-style
   {
    font-size: 1rem;
    }
   select{
    height: 4em;
    width: 10em;
    font-size: 0.6rem;
    }
   .time-wise-info
    {
     font-size: 0.8em;
    }
   
}
@media all and (max-width:770px)
{
    #amimg
    {
     width:2rem;
    }
    #icon
    {
        width:50px;
        height:50px;
    }
     .time-color
    {
     font-size:0.9rem;
    }
    .date-style
    {
     font-size: 0.9rem;
     }
    .temp-info
    {
     font-size: 0.8rem;
    }
    #temp-text
   {
    font-size: 0.9rem;
   }
}
.middle-container
{
    background-color: black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: white;
    height:400px;
}
.top-content
{
    display: inline;
    margin-left:40%;
}
.top-section-img
{
    float: right;
}
#side-text
{
    font-size: 1.2em;  
    vertical-align: top;
}
.display-count
{
   width:10%;
   background-color:grey;
   vertical-align: top;
}
.card-container
{
    display:flex;
    width:100%;
    justify-content: space-evenly;
    align-items: center;
}
.card
{
    width:18%;
    background-color: grey;
    border:1px solid black;
    box-shadow: 2px 2px 2px 0px;
    color:white;
    padding-left: 1%;
}
.card-text-position
{
 float: left;
}
.card-img-position
{
    float: right;
}
.rainy-temp
{
    vertical-align: top;
}
.card-first
{
    background-image: url("../ASSETS/london.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 40%;
}
.card-second
{
    background-image: url("../ASSETS/newyork.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 40%;
}
.card-third
{
    background-image: url("../ASSETS/kolkata.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 40%;
}
.card-fourth
{
    background-image: url("../ASSETS/bangkok.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 40%;
}